body
	background grey
	
*
	text-align center
	

.fancy
	font-size 3em
	border-left 8em solid salmon
	border-right 8em solid teal
	font-family sans-serif
	text-align center



.bombae
	font-size 3em
	font-family sans-serif
	color salmon
	text-align center
	

.werk
	font-size 3em
	font-family sans-serif
	color teal
	text-align center



.beautify
	font-family sans-serif
	color teal
	font-size 2em


